--
-- PostgreSQL database dump
--

\restrict YRlyTaW6x4jnG5ASIISNXefbrd8iavoCJeTyf5GtpSWzdfaavFpvH9B4uMSUoYQ

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: custom_fields; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.custom_fields (
    field_id integer NOT NULL,
    person_id integer NOT NULL,
    field_name character varying(100) NOT NULL,
    field_value text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.custom_fields OWNER TO facevault_admin;

--
-- Name: custom_fields_field_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.custom_fields_field_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.custom_fields_field_id_seq OWNER TO facevault_admin;

--
-- Name: custom_fields_field_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.custom_fields_field_id_seq OWNED BY public.custom_fields.field_id;


--
-- Name: face_embeddings; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.face_embeddings (
    embedding_id integer NOT NULL,
    person_id integer NOT NULL,
    faiss_vector_id integer,
    model_name character varying(100) NOT NULL,
    model_version character varying(50),
    embedding_dimension integer NOT NULL,
    quality_score real,
    capture_angle character varying(20),
    capture_source character varying(50),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    embedding_vector bytea
);


ALTER TABLE public.face_embeddings OWNER TO facevault_admin;

--
-- Name: face_embeddings_embedding_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.face_embeddings_embedding_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.face_embeddings_embedding_id_seq OWNER TO facevault_admin;

--
-- Name: face_embeddings_embedding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.face_embeddings_embedding_id_seq OWNED BY public.face_embeddings.embedding_id;


--
-- Name: face_images; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.face_images (
    image_id integer NOT NULL,
    person_id integer NOT NULL,
    image_path text NOT NULL,
    capture_source character varying(50),
    quality_score real,
    image_hash character varying(128),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.face_images OWNER TO facevault_admin;

--
-- Name: face_images_image_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.face_images_image_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.face_images_image_id_seq OWNER TO facevault_admin;

--
-- Name: face_images_image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.face_images_image_id_seq OWNED BY public.face_images.image_id;


--
-- Name: face_sessions; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.face_sessions (
    session_id integer NOT NULL,
    session_name character varying(100),
    camera_source character varying(50),
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ended_at timestamp without time zone,
    notes text
);


ALTER TABLE public.face_sessions OWNER TO facevault_admin;

--
-- Name: face_sessions_session_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.face_sessions_session_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.face_sessions_session_id_seq OWNER TO facevault_admin;

--
-- Name: face_sessions_session_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.face_sessions_session_id_seq OWNED BY public.face_sessions.session_id;


--
-- Name: interaction_timeline; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.interaction_timeline (
    timeline_id integer NOT NULL,
    person_id integer NOT NULL,
    interaction_date timestamp without time zone NOT NULL,
    title character varying(150) NOT NULL,
    description text,
    location character varying(150),
    tags character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.interaction_timeline OWNER TO facevault_admin;

--
-- Name: interaction_timeline_timeline_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.interaction_timeline_timeline_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interaction_timeline_timeline_id_seq OWNER TO facevault_admin;

--
-- Name: interaction_timeline_timeline_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.interaction_timeline_timeline_id_seq OWNED BY public.interaction_timeline.timeline_id;


--
-- Name: person_details; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.person_details (
    details_id integer NOT NULL,
    person_id integer,
    phone character varying(20),
    email character varying(150),
    college character varying(150),
    company character varying(150),
    designation character varying(100),
    address text,
    city character varying(100),
    state character varying(100),
    country character varying(100),
    birthday date,
    remarks text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.person_details OWNER TO facevault_admin;

--
-- Name: person_details_details_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.person_details_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.person_details_details_id_seq OWNER TO facevault_admin;

--
-- Name: person_details_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.person_details_details_id_seq OWNED BY public.person_details.details_id;


--
-- Name: persons; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.persons (
    person_id integer NOT NULL,
    name character varying(100) NOT NULL,
    nickname character varying(100),
    relationship character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.persons OWNER TO facevault_admin;

--
-- Name: persons_person_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.persons_person_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.persons_person_id_seq OWNER TO facevault_admin;

--
-- Name: persons_person_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.persons_person_id_seq OWNED BY public.persons.person_id;


--
-- Name: recognition_logs; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.recognition_logs (
    log_id integer NOT NULL,
    person_id integer NOT NULL,
    confidence_score real NOT NULL,
    camera_source character varying(50),
    recognition_time_ms integer,
    recognized_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.recognition_logs OWNER TO facevault_admin;

--
-- Name: recognition_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.recognition_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recognition_logs_log_id_seq OWNER TO facevault_admin;

--
-- Name: recognition_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.recognition_logs_log_id_seq OWNED BY public.recognition_logs.log_id;


--
-- Name: settings; Type: TABLE; Schema: public; Owner: facevault_admin
--

CREATE TABLE public.settings (
    setting_id integer NOT NULL,
    setting_key character varying(100) NOT NULL,
    setting_value text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.settings OWNER TO facevault_admin;

--
-- Name: settings_setting_id_seq; Type: SEQUENCE; Schema: public; Owner: facevault_admin
--

CREATE SEQUENCE public.settings_setting_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.settings_setting_id_seq OWNER TO facevault_admin;

--
-- Name: settings_setting_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: facevault_admin
--

ALTER SEQUENCE public.settings_setting_id_seq OWNED BY public.settings.setting_id;


--
-- Name: custom_fields field_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.custom_fields ALTER COLUMN field_id SET DEFAULT nextval('public.custom_fields_field_id_seq'::regclass);


--
-- Name: face_embeddings embedding_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_embeddings ALTER COLUMN embedding_id SET DEFAULT nextval('public.face_embeddings_embedding_id_seq'::regclass);


--
-- Name: face_images image_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_images ALTER COLUMN image_id SET DEFAULT nextval('public.face_images_image_id_seq'::regclass);


--
-- Name: face_sessions session_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_sessions ALTER COLUMN session_id SET DEFAULT nextval('public.face_sessions_session_id_seq'::regclass);


--
-- Name: interaction_timeline timeline_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.interaction_timeline ALTER COLUMN timeline_id SET DEFAULT nextval('public.interaction_timeline_timeline_id_seq'::regclass);


--
-- Name: person_details details_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.person_details ALTER COLUMN details_id SET DEFAULT nextval('public.person_details_details_id_seq'::regclass);


--
-- Name: persons person_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.persons ALTER COLUMN person_id SET DEFAULT nextval('public.persons_person_id_seq'::regclass);


--
-- Name: recognition_logs log_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.recognition_logs ALTER COLUMN log_id SET DEFAULT nextval('public.recognition_logs_log_id_seq'::regclass);


--
-- Name: settings setting_id; Type: DEFAULT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.settings ALTER COLUMN setting_id SET DEFAULT nextval('public.settings_setting_id_seq'::regclass);


--
-- Data for Name: custom_fields; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--

COPY public.custom_fields (field_id, person_id, field_name, field_value, created_at) FROM stdin;
\.


--
-- Data for Name: face_embeddings; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--



--
-- Data for Name: face_images; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--



--
-- Data for Name: face_sessions; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--

COPY public.face_sessions (session_id, session_name, camera_source, started_at, ended_at, notes) FROM stdin;
\.


--
-- Data for Name: interaction_timeline; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--

COPY public.interaction_timeline (timeline_id, person_id, interaction_date, title, description, location, tags, created_at) FROM stdin;
1	1	2026-08-01 14:30:00	Hackathon Discussion	Discussed ML project ideas	Bangalore Tech Park	AI, Hackathon, ML	2026-08-02 06:58:15.003806
\.


--
-- Data for Name: person_details; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--



--
-- Data for Name: persons; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--

COPY public.persons (person_id, name, nickname, relationship, created_at, updated_at) FROM stdin;
1	Rahul Sharma	Rahul	College Friend	2026-08-02 06:26:58.87079	2026-08-02 06:26:58.87079
2	Rahul Sharma	Rahul	College Friend	2026-08-02 06:48:08.803592	2026-08-02 06:48:08.803592
3	Mohit	Mohit	Admin	2026-08-02 13:50:33.643747	2026-08-02 13:50:33.643747
4	Test User	Test	Friend	2026-08-02 15:18:32.010358	2026-08-02 15:18:32.010358
\.


--
-- Data for Name: recognition_logs; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--

COPY public.recognition_logs (log_id, person_id, confidence_score, camera_source, recognition_time_ms, recognized_at) FROM stdin;
1	1	97.5	Front Door Camera	45	2026-08-02 06:52:03.354666
2	3	100	test_camera	\N	2026-08-02 14:38:16.424355
3	3	100	test_camera	\N	2026-08-02 15:52:23.897399
4	4	100	api_upload	\N	2026-08-02 16:07:57.422323
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: facevault_admin
--

COPY public.settings (setting_id, setting_key, setting_value, updated_at) FROM stdin;
\.


--
-- Name: custom_fields_field_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.custom_fields_field_id_seq', 1, false);


--
-- Name: face_embeddings_embedding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.face_embeddings_embedding_id_seq', 9, true);


--
-- Name: face_images_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.face_images_image_id_seq', 8, true);


--
-- Name: face_sessions_session_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.face_sessions_session_id_seq', 1, false);


--
-- Name: interaction_timeline_timeline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.interaction_timeline_timeline_id_seq', 1, true);


--
-- Name: person_details_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.person_details_details_id_seq', 3, true);


--
-- Name: persons_person_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.persons_person_id_seq', 4, true);


--
-- Name: recognition_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.recognition_logs_log_id_seq', 4, true);


--
-- Name: settings_setting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: facevault_admin
--

SELECT pg_catalog.setval('public.settings_setting_id_seq', 1, false);


--
-- Name: custom_fields custom_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT custom_fields_pkey PRIMARY KEY (field_id);


--
-- Name: face_embeddings face_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_pkey PRIMARY KEY (embedding_id);


--
-- Name: face_images face_images_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_images
    ADD CONSTRAINT face_images_pkey PRIMARY KEY (image_id);


--
-- Name: face_sessions face_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_sessions
    ADD CONSTRAINT face_sessions_pkey PRIMARY KEY (session_id);


--
-- Name: interaction_timeline interaction_timeline_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.interaction_timeline
    ADD CONSTRAINT interaction_timeline_pkey PRIMARY KEY (timeline_id);


--
-- Name: person_details person_details_person_id_key; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.person_details
    ADD CONSTRAINT person_details_person_id_key UNIQUE (person_id);


--
-- Name: person_details person_details_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.person_details
    ADD CONSTRAINT person_details_pkey PRIMARY KEY (details_id);


--
-- Name: persons persons_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_pkey PRIMARY KEY (person_id);


--
-- Name: recognition_logs recognition_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.recognition_logs
    ADD CONSTRAINT recognition_logs_pkey PRIMARY KEY (log_id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (setting_id);


--
-- Name: settings settings_setting_key_key; Type: CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_setting_key_key UNIQUE (setting_key);


--
-- Name: custom_fields custom_fields_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.custom_fields
    ADD CONSTRAINT custom_fields_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(person_id) ON DELETE CASCADE;


--
-- Name: face_embeddings face_embeddings_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(person_id) ON DELETE CASCADE;


--
-- Name: face_images face_images_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.face_images
    ADD CONSTRAINT face_images_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(person_id) ON DELETE CASCADE;


--
-- Name: interaction_timeline interaction_timeline_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.interaction_timeline
    ADD CONSTRAINT interaction_timeline_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(person_id) ON DELETE CASCADE;


--
-- Name: person_details person_details_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.person_details
    ADD CONSTRAINT person_details_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(person_id) ON DELETE CASCADE;


--
-- Name: recognition_logs recognition_logs_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: facevault_admin
--

ALTER TABLE ONLY public.recognition_logs
    ADD CONSTRAINT recognition_logs_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(person_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict YRlyTaW6x4jnG5ASIISNXefbrd8iavoCJeTyf5GtpSWzdfaavFpvH9B4uMSUoYQ

